body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* My Vocab Options Styling */
.flexContainer {
  
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: 50%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  
}

.flexItem {
  background: tomato; 
  padding: 5px 5px 5px 5px;
  /* width: 200px; */
  /* height: 150px; */
  width: 450px;
  height: auto;
  /* /* margin-top: 10px; */
  
  /* line-height: 150px; */
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  
}

.imageButton {
  background-color: green;
  /* width: 100%;
  height: auto; */
  max-width: 450px;
  max-height: 450px;
  min-width: 10px;
  min-height: auto;
  object-fit: scale-down;
}


.imageButtonClicked {
  background-color: purple;
  width: 100%;
  height: auto;
}

/* button {
  width: 100%;
  height: 100%;
} */

img {
  
  align-content: center;
  width: 100%;
  height: auto;
  object-fit: scale-down;

}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

