body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  height: auto;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flexItemContainer {
  width: 250px;
  /* for auto to work, icons need to be the same size */
  height: 250px;
  /* border: 10px solid blue; */
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.imageButton {
  background-color: white;
  width: 100%;
  height: auto;
  max-height: 245px;
  object-fit: scale-down;
  
}

.imageButtonClicked {
  background-color: yellow;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  margin: 25px;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

button {
  all: unset
}
.progress-bar-text {
  text-align: left;
  margin: 25px;
}

